#include <physical_layouts.dtsi>

/ {
    eyelash_sofle_layout: eyelash_sofle_layout {
        compatible = "zmk,physical-layout";
        display-name = "Layout";
        transform = <&default_transform>;
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 200    0   50       0     0     0>


            , <&key_physical_attrs 100 100  550  412    3000   500   412>
            , <&key_physical_attrs 100 100  675  362    3000   500   412>
            , <&key_physical_attrs 100 100  775  112       0     0     0>
            , <&key_physical_attrs 100 100  875  362 (-3000)  1150   412>
            , <&key_physical_attrs 100 100 1000  412 (-3000)  1150   412>
            , <&key_physical_attrs 100 100 1150  412       0     0     0>
            , <&key_physical_attrs 100 100 1250  400       0     0     0>
            , <&key_physical_attrs 100 100 1350  412       0     0     0>

            ;
    };
};
